body
{
	margin: 0px;
	padding: 0px;
}

p
{
	font-family: Georgia, serif;
	cursor: context-menu;
	user-select: none;
	
	margin:0px;
	padding:0px;
}

p.logMessage
{
	font-family: Georgia, serif;
	font-size: 10pt;
	
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.syndicateTitleBox
{
	margin-bottom: 5px;
}

p.syndicateTitle
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	font-weight: bold;
}

.syndicateResources
{
	padding-left: 8px;
}

.button
{
	background-color: #C4ECBC;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.textButton:hover
{
	text-decoration: underline;
	cursor: pointer;
}

p.buttonInfo
{
	margin-top: -4px;
	font-size: 8pt;
}

#boxGame
{
	display: flex;
	flex-wrap: none;
	flex-direction: row;
	width: auto;
	justify-content: center;
	
	margin: 0px;
	padding: 0px;
}

#columnLeft
{
	display: flex;
	flex-wrap: none;
	flex-direction: column;
	flex-shrink: 0;
	width: 280px;
	
	margin: 0px;
	padding: 0px;
}

#columnMiddle
{
	display: flex;
	flex-wrap: none;
	flex-direction: column;
	width: 900px;
	
	margin: 0px;
	padding: 0px;
}

#columnRight
{
	display: flex;
	flex-wrap: none;
	flex-direction: column;
	flex-shrink: 0;
	width: 280px;
	
	margin: 0px;
	padding: 0px;
}

#boxSyndicate
{
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	
	border: 0px solid black;
	background-color: transparent;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#boxResources
{
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	
	border: 1px solid black;
	background-color: Snow;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#boxInteractive
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: auto;
	
	border: 1px solid black;
	background-color: WhiteSmoke;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#boxLog
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	width: auto;
	height: 300px;
	overflow: hidden;
	
	border: 1px solid black;
	background-color: OldLace;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#boxNavigation
{
	display: flex;
	flex-wrap: none;
	flex-direction: column;
	width: auto;
	
	border: 1px solid black;
	background-color: MintCream;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}